html,
body{
    height:100vh;
    margin:0;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    margin: 0.25rem 0;
}

@media (min-width: 1070px) { 
  .navbar-expand-large {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-large .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-large .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-large .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-large .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-large .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-large .navbar-toggler {
    display: none !important;
  }
}

