.form__data{
    display: block;
    width:100%;
    padding: 0.5rem 1rem;
    line-height:1.5;
    font-size: 1.25rem;
    font-weight: 400;
    outline: none;
    border:1px solid var(--clr-green-600);
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.2s ease-in;
}

.form__data:active,
.form__data:focus{
    box-shadow: 0px 0px 5px var(--clr-green-600), 0px 0px 5px var(--clr-green-600);
}